body {
    --main-blue: #2e3092;
    --main-red: #ed1c24;
    --main-shadow-blue: #1f2061;
    --main-shadow-red: #63080b;
}


body.lock{
    overflow: hidden;
} 


header {
    width: 100%;
    height: 25vh;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    list-style-position: inside; 
}

ul ul {
    list-style: none;
    padding: 0;
    margin: 0;
    list-style-position: inside; 
}

.container {
    width: 100vw;
    margin: 0;
    height: 100%;
    overflow: hidden;
}


.wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.logo {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.logo a {
    width: 60%;
    align-self: center;
    margin-top: -3%;
}



.header_menu {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}


.header_menu a {
    color: var(--main-blue);

}

.header_menu a:hover, 
.header_menu a:focus,
.header_menu a:active {
    color: var(--main-red);
}

.header_menu li {
    transition: all 0.6s ease;
}

.header_menu li:hover, 
.header_menu li:focus,
.header_menu li:active {
    transform: scale(1.1);
}

.header_menu_list {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    font-variant: small-caps;
}



.header_menu_contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2em;
    width: 20%;
    justify-content: center;
}

.header_menu_contacts a,
.header_menu_contacts a:visited {
    color: var(--main-red);
    font-variant: small-caps;
    transition: all 0.6s ease;
}

.header_menu_contacts a:active, 
.header_menu_contacts a:hover,
.header_menu_contacts a:focus {
    color: var(--main-blue);
    transform: scale(1.1);
}

.header_burger {
    display: none;
}

.mainscreen {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../img/mainscreen_bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.mainscreen_content {
    width: 70%;
    padding-top: 10%;
}

.mainscreen_content h1,
.mainscreen_content h2,
.mainscreen_content h4 {
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px #000;
}

.mainscreen_content h1 {
    font-variant: small-caps;
    font-size: 3.3em;
    line-height: 1em;
    font-weight: 400;
}

.mainscreen_content h2 {
    font-weight: 400;
}

.mainscreen_content h4 {
    font-weight: 300;
}

.feedback_button {
    padding: 15px 80px;
    background-color: var(--main-blue);
    font-variant: small-caps;
    font-size: 1.2em;
    font-weight: 350;
    box-shadow: 0 5px 0 var(--main-shadow-blue);
    transition: all 0.6s ease;
}

.feedback_button:hover,
.feedback_button:focus,
.feedback_button:active {
    background-color: var(--main-red);
    box-shadow: 0 5px 0 var(--main-shadow-red);
}





.feedback_popup {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: 99;
    transition: all .6s ease;
}

.feedback_popup.open {
    visibility: visible;
    transform: opacity(1);
    opacity: 1;
}

.blanc_field {
    position: fixed;   
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.popup_form {
    position: relative;
    background-color: #fff;
    max-width: 90%;
    width: 410px;
    height: auto;
    margin: 2% auto;
    padding: 30px;
    z-index: 5;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .7);
}

.popup_form i {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 1em;
    transition: all .6s ease;
    cursor: pointer; 
}

.popup_form i:hover {
    transform: rotate(180deg)
}

.popup_form p {
    font-size: 1.1em;
    font-weight: 300;
}

.popup_form h4 {
    font-size: 1.1em;
    font-weight: 400;
}

.popup_form h6 {
    font-size: .9em;
    font-weight: 300;
    color: #555;
}

.popup_form h5 {
    font-size: .8em;
    font-weight: 300;
    color: #555;
    text-align: center;
}

.popup_form textarea {
    width: 100%;
    margin: 10px 0 20px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.popup_form a {
    color: var(--main-blue);
    text-decoration: underline;
}

.popup_form a:hover,
.popup_form a:active,
.popup_form a:focus {
    color: var(--main-red);
}

.popup_form input {
    width: 100%;
    height: 30px;
    padding: 20px 10px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 20px;
}

.popup_btn {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: var(--main-blue);
    color: #fff;
    font-variant: small-caps;
    font-weight: 400;
    margin-bottom: 20px;
    transition: all 0.6s ease;
}

.popup_btn:hover,
.popup_btn:focus,
.popup_btn:active {
    background-color: var(--main-red);
}


.abuot_section {
    background-color: #f2f2f2;
    width: 100%;
    padding-top: 10vh;
}

.abuot_section>.container {
    overflow: visible;
}

.abuot_section_wrapper {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: row;
    overflow: visible;
    padding-bottom: 100px;
}

.abuot_section_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45%;
    height: 100%;
    margin-top: 5vh;
    padding: 80px 50px;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);
    z-index: 2;

}

.abuot_section_content.right {
    margin-left: none;
    padding: 40px;
}

.abuot_section_content h2 {
    font-variant: small-caps;
    position: relative;
    font-weight: 400;
    margin-bottom: 40px;
}

.abuot_section_content h2:after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 50px;
    top: 2em;
    left: 0;
    background-color: #000;
}

.abuot_section_content p {
    font-weight: 300;
    font-size: 1.1em;
    margin-bottom: 30px;
}

.feedback_button.mini {
    color: #fff;
    padding: 5px 50px;
    margin: 0 auto 20px;
    width: 250px;
}

.abuot_section_photo {
    width: 60%;
    height: 100%;
    margin-left: -50px;
    z-index: 1;
}

.abuot_section_photo.left {
    margin-right: -50px;
    width: 70%;
}

.abuot_section_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}



.section_header {
    text-align: center;
    font-variant: small-caps;
    margin: 10vh 0;
}

.section_header h2 {
    font-size: 2.5em;
}


.advantage_section_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15vh 0;
}

.advantage_section_content_item {
    width: 20%;
    text-align: center;
}

.advantage_section_content_item img {
    margin-bottom: 30px;
}



.choice_section {
    background-color: #f2f2f2;
    padding: 7vh 0 3hv;
}

.choice_section_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15vh 0 0;
}

.choice_section_content_item {
    width: 49%;
    margin-bottom: 5vh;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);
}

#one, #two, #three, #four {
    background-size:200px;
    background-repeat: no-repeat;
    background-position: right center;
}

#one {
    background-image: url(../img/choice_section_img/number-svgrepo-com.svg);
}

#two {
    background-image: url(../img/choice_section_img/crown-svgrepo-com.svg);
}

#three {
    background-image: url(../img/choice_section_img/check-circle-svgrepo-com.svg);
    background-size: 150px;
    background-position: 95% center;
}

#four {
    background-image: url(../img/choice_section_img/rocket-svgrepo-com.svg);
    background-size: 200px;
    background-position: right center;
}

.choice_section_content_item h4 {
    font-weight: 600;
    padding-bottom: none;
    margin-bottom: none;
}

.choice_section_content_item p {
    color: #333;
    font-weight: 300;
    font-size: 1.2em;
}

.choice_section .services_feedback {
    margin-bottom: 150px;
}



.carousel {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    padding: 0;
}

.carousel_button{
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 45%;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .5);
    transition: all .6s ease;
    overflow: hidden;
}



.carousel_button p {
    font-size: 5em;
    line-height: 50px;
}

.carousel_button:hover,
.carousel_button:focus{
    color: rgba(0, 0, 0, .8);
    transform: scale(1.05);
}

.carousel_button.next{
    right: 2%;
}

.carousel_button.prev{
    left: 2%;
}

.slides{
    position: relative;
    display: block;
    width: 100%;
    height: 100%; 
}

.slide, 
.slide_review {
    display: flex;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: row;
    transition: all .6s ease;
    background-size: cover;
    background-position: center center;

}

.slide[data-active],
.slide_review[data-active] {
    opacity: 1;
    z-index: 1;
}

#slide_1 {
    background-image: url(../img/slide_1.jpg);
}

#slide_2 {
    background-image: url(../img/slide_2.jpg);
}

#slide_3 {
    background-image: url(../img/slide_3.webp);
}

#slide_4 {
    background-image: url(../img/slide_4.jpg);
}

#slide_5 {
    background-image: url(../img/slide_5.jpeg);
}




.portfolio_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7vh;
}


.portfolio_link {
    display: block;
    width: 400px;
    height: 50px;
    color: var(--main-blue);
    background-color: #fff;
    border: 3px solid var(--main-shadow-blue);
    font-variant: small-caps;
    text-decoration: none;
    font-size: 1.1em;
    text-align: center;
    line-height: 40px;
    margin-right: 20px;
    transition: all 0.6s ease;
}

.portfolio_section .portfolio_link:hover,
.portfolio_section .portfolio_link:focus {
    color: var(--main-red);
    text-decoration: underline;
    border: 3px solid var(--main-red);
}

.portfolio_link:visited {
    color: var(--main-blue);
}

.portfolio_buttons {
    padding-bottom: 7vh;
}

.portfolio_buttons>.feedback_button {
    width: 400px;
    height: 45px;
    color: #fff;
    padding: 0;
    font-size: 1.1em;
    line-height: 40px;
    box-shadow: 0 5px 0 var(--main-shadow-blue);
    
}

.portfolio_buttons>.feedback_button:active,
.portfolio_buttons>.feedback_button:hover,
.portfolio_buttons>.feedback_button:focus {
    box-shadow: 0 5px 0 var(--main-shadow-red);
}


.progress_section {
    background-color: #f2f2f2;
}


.progress_section_content {
    position: relative;
    padding: 7vh 0;
}

.progress_section_content_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.progress_section_content_item h3 {
    width: 10%;
}

.progress_section_content_text {
    width: 80%;
    position: relative;
}

.progress_section_content_text:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #fff;
    border: 10px solid var(--main-blue);
    border-radius: 50%;
    outline: 5px solid #fff;
    top: 0;
    left: -100px;
    width: 40px;
    height: 40px;
    z-index: 2;
}

.progress_section_content_text:after {
    content: "";
    position: absolute;
    display: block;
    top: 30px;
    left: -80px;
    width: 1px;
    height: 100%;
    background-color: var(--main-blue);
    z-index: 1;
}

.progress_section_content_text.last:before {
    border: 10px solid var(--main-red);
}

.progress_section_content_text.last:after {
    display: none;
}



.text_section {
    background-color: #f2f2f2;
    padding-bottom: 10vh;
}

.text_section_text {
    font-size: 1.1em;
    font-weight: 300;
    margin: 0 7%;
}


.profile_content {
    align-items: center;
    padding-bottom: 7vh;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.profile_content h3 {
    text-align: center;
    margin-bottom: 50px;
}

.profile_content_text {
    height: 100%;
    border-right: 2px solid var(--main-red);
}

.profile_content_text ul {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile_content_text li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile_content_text img {
    width: 90px;
    margin-right: 20px;
    margin-top: -20px;
}

.profile_content_text_item {
    margin-bottom: 40px;
}

.profile_content_text_item h4 {
    font-weight: 400;
}

.profile_content_text_item p {
    font-size: 1.1em;
    font-weight: 300;
}

.profile_section {
    margin-bottom: 80px;
}

.profile_section .portfolio_link {
    margin: 0 auto;
    color: var(--main-red);
    border: 3px solid var(--main-red);
}

.profile_section .portfolio_link:hover,
.profile_section .portfolio_link:focus {
    color: var(--main-blue);
    border: 3px solid var(--main-blue);
}


.profile_section_services {
    height: 100%;
}

.profile_section_services_list {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile_section_services_list_item {
    display: flex;
    flex-direction: row;

}

.profile_section_services_list_img {
    width: 40px;
    height: 40px;
}

.profile_section_services_list_text {
    padding-left: 30px;
    display: flex;
    align-self: center;
    font-weight: 300;
    font-size: 1.1em;
}

.partner_section {
    position: relative;
    width: 100%;
    height: 100vh;
}

.partner_section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/partner_bg.jpg);
    background-position: center center;
    background-size: cover;
    filter: brightness(40%);
    z-index: -1;
}


.parner_section_content {
    text-align: center;
    margin-top: 20vh;
    color: #fff;
    z-index: 2;
}

.parner_section_content h2 {
    position: relative;
    font-size: 4em;
    font-variant: small-caps;
    font-weight: 400;
}

.parner_section_content h2:after {
    content: "";
    position: absolute;
    top: 15vh;
    right: 45%;
    display: block;
    background-color: #fff;
    height: 2px;
    width: 150px;
    z-index: 2;
}

.parner_section_content p {
    margin: 10vh 0;
    font-size: 2em;
    font-weight: 300;
}

.parner_section_content_logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.parner_section_content_logos img {
    display: block;
    filter: grayscale(100%);
    transition: all .6s ease;
}

.parner_section_content_logos img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}


.news_section_content {
    padding-top: 20px;
    padding-bottom: 50px;
}


.news_section_content > .portfolio_link {
    margin: 0 auto;
}

.news_section_content > .portfolio_link:hover,
.news_section_content > .portfolio_link:focus {
    color: var(--main-red);
    border: 3px solid var(--main-red);
    text-decoration: none;
}



.carousel.review {
    margin-bottom: 50px;
}

.review_section {
    background-color: #f2f2f2;
}

.review_section .slides {
    background-color: #fff;
}

.slide_review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 100px;
}

.slide_review img {
    width: 20%;
    margin-bottom: 20px;
}

.review_content_item_text h5 {
    color: #777;
    font-weight: 300;
    font-size: .9em;
    margin-bottom: 30px;
}

.review_content_item_text p {
    font-weight: 300;
    font-size: 1.2em;
    padding: 0 100px;
}





.contact_section {
    display: flex;
    flex-direction: column;
}

.contact_section_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.contact_section_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0 20px;
    font-variant: small-caps;
}


.contact_section_item {
    margin-bottom: 20px;
    font-size: 1.1em;
}

.contact_section_item p {
    margin: 0;
    padding: 0;
}

.contact_section_item a,
.contact_section_item a:visited {
    color: #777;
    transition: all .6s ease;
}

.contact_section_item a:hover,
.contact_section_item a:active,
.contact_section_item a:focus {
    color: #333;
}

.contact_section_social  {
    text-align: center;
    margin-bottom: 10vh;
}

.contact_section_social h4 {
    font-weight: 400;
    margin-bottom: 20px;
}

.contact_section_social img {
    height: 50px;
    margin-right: 15px;
}

.contact_section_adress {
    width: 60%;
    height: 95vh;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .7);
}

.map {
    width: 100%;
    height: 90%;
    margin-bottom: 10px;
}

.profile_content_form {
    height: 95vh;
    margin: 0;
    padding: 0;
}

.profile_content_form .popup_form {
    height: 100%;
    margin: 0;
}





footer {
    background-color: #f2f2f2;
    width: 100%;
    padding: 30px 0 5px 0;
}

footer.white {
    background-color: #fff;
}


.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.footer_content_logo {
    width: 20%;
    height: 100%;
}


.footer_content_logo a {
    display: block;
    width: 50%;
    height: 50%;
    margin-right: 30px;
}

.footer_adress,
.footer_contacts {
    padding-top: 20px;
    text-align: center;
}

.footer_adress {
    width: 60%;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.footer_contacts a {
    display: block;
    width: 100%;
    height: 2em;
    text-align: end;
    margin: 0;
    padding: 0;
    color: #777;
    transition: all .6s ease;
}

.footer_contacts a:hover,
.footer_contacts a:active,
.footer_contacts a:focus {
    color: #333;
}

.footer_contacts a:visited {
    color: #777;
}

.copyright {
    text-align: center;
    font-size: 1.1em;
    font-weight: 300;
    margin: 0;
}




/*page 2 (services)
PAGE 2!!!!!!!!!!!!!!!!!!!!!!*/





.all_services {
    padding: 0 0 50px;
    background-color: #f2f2f2;
}


.services_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.service_item {
    width: 48%;
    margin-bottom: 50px;
    background: transparent;
    padding: 20px; 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);
    transition: all .6s ease;
    position: relative;
}

.service_item:hover,
.service_item:focus,
.service_item:active {
    color: #fff;
    text-shadow: 2px 1px 2px #333;
    
}

.service_item:hover .background,
.service_item:focus .background,
.service_item:active .background {
    opacity: 90%;
}


.background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    filter: brightness(60%);
    opacity: 0;
    transition: all .6s ease;
    z-index: 1;
}


.service_item_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.service_item_content>img {
    z-index: 80;
    width: 10%;
    margin-top: 10px;
    margin-bottom: auto;
    transition: all .6s ease;
}

.service_item:hover .service_item_content>img,
.service_item:focus .service_item_content>img,
.service_item:active .service_item_content>img {
/*    filter: invert(100%);*/
    filter: brightness(0) invert(1);
}

.service_item_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    height: 100%; 
    z-index: 80;
}


.service_item_text > .portfolio_link {
    width: 150px;
    height: 30px;
    line-height: 1.4;
    padding: 0;
    font-size: 1em;
    margin-left: auto;
    margin-right: 0;
    color: #fff;
    background-color: var(--main-blue);
}

.service_item_text > .portfolio_link:hover,
.service_item_text > .portfolio_link:focus {
    background-color: var(--main-red);
    border-bottom: 3px solid var(--main-shadow-red);
    text-decoration: none;
}


.services_feedback {
    text-align: center;
    padding-top: 50px;
}

.services_feedback > .feedback_button {
    margin: 20px 0;
    color: #fff;
    background-color: var(--main-red);
    border-bottom: 3px solid var(--main-shadow-red);
    box-shadow: none;
}

.services_feedback > .feedback_button:hover,
.services_feedback > .feedback_button:focus,
.services_feedback > .feedback_button:active {
    background-color: var(--main-blue);
    border-bottom: 3px solid var(--main-shadow-blue);
}






/*page 3 (service_1)
PAGE 3!!!!!!!!!!!!!!!!!!!!!!*/




.current_path {
    padding: 10px 0 20px; 
    background-color: #f2f2f2;
}


.current_path a {
    color: #777;
    font-size: .9em;
}

.current_path a:hover,
.current_path a:focus {
    color: #777;
    text-decoration: underline;
}


.services_info {
    background-color: #f2f2f2;
    padding-bottom: 20px;
}

.page_header {
    font-family: Georgia, serif;
    font-weight: 550;
    letter-spacing: 1px;
    color: var(--main-blue);
    padding-bottom: 30px;
}

.page_header span {
    color: var(--main-red);
}

.services_info_content {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

.services_menu {
    width: 15%; 
    margin-right: 5%;
    margin-left: 10px;
}

.services_menu_list {
    background-color: #fff;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, .7);
    width: 100%;
    margin: 0;
    padding: 0;
}


.services_menu_list > li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-left: 3px solid #f2f2f2;
    transition: all 0.6s ease;
}

.services_menu_list > li:hover {
    border-left: 3px solid var(--main-red);
    background-color: #ddd;
    
}

.services_menu_list a {
    display: block;
    width: 100%;
    height: 100%;
    color: #333;
    transition: all 0.6s ease;
}

.services_menu_list a:hover,
.services_menu_list a:focus {
    color: var(--main-red);
}


.single_service_info_content {
    width: 80%;
    margin-right: 10px;
}

.single_service_info_content img {
    padding: 20px 0;
}



/*page 4 (news)
PAGE 3!!!!!!!!!!!!!!!!!!!!!!*/


.news_section {
    padding: 0 0 50px;
    background-color: #f2f2f2;
}

.single_news_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .5); 
    transition: all .6s ease-out;
}


.single_news_item:hover,
.single_news_item:focus,
.single_news_item:active {
    background-color: #ddd;
}


.news_item_photo {
    display: block;
    width: 20%;
    object-fit: cover;
    object-position: center;
}

.news_item_text {
    width: 75%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}





.news_item_text > a,
.news_item_text > a:visited {
    color: #333;
    transition: all .6s ease;
}



.news_item_text > a:hover,
.news_item_text > a:focus,
.news_item_text > a:active {
    color: var(--main-red);
}



.news_article_footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}


.main_link,
.main_link:visited {
    display: block;
    padding: 5px 30px;
    margin-left: 0;
    margin-right: auto;
    color: #fff;
    background-color: var(--main-blue);
    border-bottom: 3px solid var(--main-shadow-blue);
    transition: all .6s ease;
}

.main_link:hover,
.main_link:focus {
    background-color: var(--main-red);
    border-bottom: 3px solid var(--main-shadow-red);
    text-decoration: none;
    color: #fff;
}

.news_date {
    font-size: .9em;
    color: #777;
    align-self: center;
}


.news_loader {
    text-align: center;
}

.news_loader > p {
    color: #777;
    font-size: .9em;
}

.news_loader_button {
    padding: 10px 50px;
    color: #fff;
    background-color: var(--main-red);
    border-bottom: 3px solid var(--main-shadow-red);
    transition: all .6s ease;
    font-variant: small-caps;
    font-size: 1.1em;
}

.news_loader_button:hover,
.news_loader_button:focus {
    background-color: var(--main-blue);
    border-bottom: 3px solid var(--main-shadow-blue);
    text-decoration: none;
}

@media(min-width: 1024px) {
    .single_news_item:nth-child(odd) {
    border-right: 3px solid transparent;
}


.single_news_item:nth-child(even) {
    flex-direction: row-reverse;
    border-left: 3px solid transparent;
}
    
    .single_news_item:nth-child(odd) .news_item_text {
    padding: 20px 50px 20px 0;
}


 .single_news_item:nth-child(even) .news_item_text{
    padding: 20px 50px;
}
    
    
    .single_news_item:nth-child(odd):hover,
.single_news_item:nth-child(odd):focus,
.single_news_item:nth-child(odd):active {
    border-right: 3px solid var(--main-red);
    
}

.single_news_item:nth-child(even):hover,
.single_news_item:nth-child(even):focus,
.single_news_item:nth-child(even):active {
    border-left: 3px solid var(--main-red);
}


    
}









/*page 4 (portfolio)
PAGE 4!!!!!!!!!!!!!!!!!!!!!!*/


.portfolio_page_section {
    background-color: #f2f2f2;
}

.portfolio_categories {
    display: flex;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.portfolio_single_category {
    min-width: 150px;
    padding: 10px 20px; 
    text-align: center;
    vertical-align: middle;
}

.portfolio_categories > a,
.portfolio_categories > a:visited {
    border: 3px solid var(--main-blue);
    color: var(--main-blue);
    transition: all .6s ease;
    background-color: #fff;
    font-variant: small-caps;
    letter-spacing: 1px;
}

.portfolio_categories > a:active,
.portfolio_categories > a:focus {
    border: 3px solid var(--main-red);
    color: var(--main-red);
}

.portfolio_categories > a:hover {
    border: 3px solid var(--main-red);
    box-shadow: 0px 2px 10px rgba(237, 28, 36, .4);
    color: var(--main-red);
}


.portfolio_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0;
}


.single_portfolio_item {
    display: flex;
    flex-direction: column;
    width: 48%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .5); 
    transition: all .6s ease-out;
    margin-bottom: 50px;
    background-color: #fff;
    transition: all .6s ease-in-out;
    opacity: 1;
    justify-content: space-between;
}


.single_portfolio_item:hover,
.single_portfolio_item:focus {
    box-shadow: 0px 5px 15px rgba(31, 32, 97, .7);
}



.single_portfolio_item:hover .portfolio_item_list,
.single_portfolio_item:active .portfolio_item_list,
.single_portfolio_item:focus .portfolio_item_list {
    opacity: 1;
}


.portfolio_item_visual {
    position: relative;
    width: 100%;
    height: 50vh;
}


.portfolio_item_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio_item_list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 20px 20px 20px 70%;
    overflow: hidden;
    color: #fff;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, .8));
    opacity: 0;
    transition: all .6s ease;
}


.portfolio_item_text {
    display: flex;
    height: 100%;
}

.portfolio_item_descr {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 20px;
    padding-right: 30px;
}


.portfolio_button,
.portfolio_button:visited {
    display: block;
    padding: 10px 20px;
    align-self: center;
    font-variant: small-caps;
    letter-spacing: 1px;
    color: #fff;
    background-color: var(--main-blue);
    border-bottom: 3px solid var(--main-shadow-blue);
    transition: all .6s ease;
}

.portfolio_button:hover,
.portfolio_button:focus {
    background-color: var(--main-red);
    border-bottom: 3px solid var(--main-shadow-red);
    text-decoration: none;
    color: #fff;
}



.portfolio_hidden {
    display: none;
}


.portfolio_pages_navigation {
    text-align: center;
}

.portfolio_navigation_link,
.portfolio_navigation_link:visited {
    color: var(--main-blue);
    font-size: 1.5em;
    margin-right: 10px;
    font-weight: 500;
    transition: all .6s ease;
}


.portfolio_navigation_link:hover,
.portfolio_navigation_link:focus {
    color: var(--main-red);
}

.inactive {
    color: var(--main-shadow-red);
    cursor: default;
    
}

.inactive:hover,
.inactive:focus {
    color: var(--main-shadow-red);
}


.portfolio_page_section .services_feedback {
    margin-bottom: 80px;
}



@media(max-width: 1024px) {
    .portfolio_categories {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    
    .portfolio_single_category {
        flex: 1 1 calc(50% - 10px); 
        box-sizing: border-box;
    }
    
    .single_portfolio_item {
        height: auto;
    }
    
    .portfolio_item_list {
        padding: 20px 20px 20px 50%;
    }
    
    .portfolio_item_text {
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }
    
    .portfolio_item_descr {
        width: 100%;
        text-align: center;
    }
    
    .portfolio_button {
        margin-bottom: 30px;
    }
    
}






/*page 5 (portfolio_single_page)
PAGE 5!!!!!!!!!!!!!!!!!!!!!!*/




.portfolio_page {
    background-color: #f2f2f2;
}


.portfolio_imgs_main_section {
    position: relative;
}


.portfolio_imgs_main_section > .carousel_button {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);
}

.portfolio_imgs_main_section > .carousel_button:hover,
.portfolio_imgs_main_section > .carousel_button:focus {
    box-shadow: 0px 5px 15px rgba(237, 28, 36, .5);
    color: var(--main-red);
}

.portfolio_imgs_main_section > .carousel_button:active {
    transform: scale(.8);
}


.main_photo {
    display: block;
    margin: 0 auto 60px;
    height: 70vh;
    align-content: center;
    object-fit: cover;
    object-position: center;
    outline: 10px solid #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);
}


.portfolio_page_photo_navigation {
    position: relative;
    margin: 0 auto 70px;
    width: 90%;
    height: 20vh;
    outline: 10px solid #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);
}


.portfolio_page_photos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    overflow: hidden;
    gap: 10px;
}

.photo_navigation_item {
    transition: all .6s ease;
    border: 3px solid transparent;
}

.photo_navigation_item:hover,
.photo_navigation_item:focus {
    border: 3px solid var(--main-red);
}

.photo_navigation_item:active {
    border: 3px solid var(--main-blue);
}


.portfolio_nav_button {
    position: absolute;
    top: 30%;
    left: -3%;
    padding: 5px 25px 10px;
    font-size: 2em;
    border-radius: 50%;
    transition: all .6s ease;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);
    cursor: pointer;
    
}

.portfolio_nav_button:hover,
.portfolio_nav_button:focus {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(237, 28, 36, .5);
    color: var(--main-red);
}

.portfolio_nav_button:active {
    transform: scale(.8);
}

.portfolio_nav_button.next {
    left: auto;
    right: -3%;
}


.portfolio_works h3,
.portfolio_page_descr h3 {
    color: var(--main-blue);
}

.portfolio_works span,
.portfolio_page_descr span {
    color: var(--main-red);
}

.portfolio_page_descr h3 {
    margin-bottom: 40px;
}

.portfolio_works_list, .list-container {
    display: grid;
    gap: 10px;
    margin: 40px auto 40px;
    color: #666;
    border-left: 3px solid var(--main-red);
}


.list-container.one-column {
    grid-template-columns: repeat(1, 1fr);
}

.list-container.two-columns {
    grid-template-columns: repeat(2, 1fr);
}

.list-container.three-columns {
    grid-template-columns: repeat(3, 1fr);
}

.list-container.four-columns {
    grid-template-columns: repeat(4, 1fr);
}







/*page 6 (new_single_page)
PAGE 6!!!!!!!!!!!!!!!!!!!!!!*/



.single_new_info {
    background-color: #f2f2f2;
}


.news_date {
    color: #777;
    font-size: .9em;
    text-align: right;
}

.single_new_img {
    display: block;
    margin: 0 auto 40px;
    max-height: 70vh;
}









/*page 8 (about)
PAGE 6!!!!!!!!!!!!!!!!!!!!!!*/




.company_about {
    background-color: #f2f2f2;
    padding: 40px 0;
}

.company_about_slogan {
    width: 100%;
    height: 30vh;
    background: no-repeat url(../img/about_img/about_img_4.jpg);
    background-position: center 60%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
    color: #fff;
}

.company_about_slogan_text {
    padding: 30px;
    text-shadow: 2px 2px 2px #000;
    font-variant: small-caps;
    font-size: 2.5em;
    text-align: right;
}

.logo_colon_blue {
    color: var(--main-blue);
    text-shadow: none;
    font-variant: normal;
    font-family: Georgia, serif;
    font-weight: 550;
    letter-spacing: 1px;
}

.company_about_slogan .logo_colon {
    color: var(--main-red);
    text-shadow: none;
    font-variant: normal;
    font-family: Georgia, serif;
    font-weight: 550;
    letter-spacing: 1px;
    font-size: 1.1em;
}


.company_about_history {
    margin-top: 40px;
}


.position_center {
    text-align: center;
}


.company_about_partner_section .parner_section_content {
    margin: 0;
    padding: 0;
}


.company_about_partner_section h3 {
    margin: 60px 0 30px;
}


.company_about_review_section h3 {
    font-variant: normal;
}

.company_about_review_section .slide_review {
    margin: 0;
    padding: 0;
}


.company_about_review_section .carousel {
    max-height: 70vh;
    margin-bottom: 0;
}


.company_about_review_section .carousel_button {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);
}

.company_about_review_section .carousel_button:hover,
.company_about_review_section .carousel_button:focus {
    box-shadow: 0px 5px 15px rgba(237, 28, 36, .5);
    color: var(--main-red);
}

.company_about_review_section .carousel_button:active {
    transform: scale(.8);
}

.company_about .services_feedback {
    padding-top: 0;
}







/*page 9 (contacts)
PAGE 9!!!!!!!!!!!!!!!!!!!!!!*/


.contacts_page {
    background-color: #f2f2f2;
}


.contact_page_adress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact_page_adress_text {
    width: 20%;
    padding-left: 20px;
    border-left: 3px solid var(--main-red);
}

.contact_page_adress_text>h4 {
    color: #777;
    font-size: 1em;
    font-weight: 400;
    margin: 40px 0 20px;
}

.contact_page_adress_text>a,
.contact_page_adress_text>a:visited {
    color: var(--main-blue);
    transition: all .6s ease;
}

.contact_page_adress_text>a:hover,
.contact_page_adress_text>a:focus,
.contact_page_adress_text>a:active {
    color: var(--main-red);
    transform: scale(1.1);
}

.contact_page_map {
    width: 75%;
}


.contact_page_map .map {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}


.contact_page_requesites {
    margin: 50px 0;
}

.contact_page_requesites_text {
    padding-left: 20px;
    border-left: 3px solid var(--main-red);
}

.contacts_page .services_feedback {
    margin-bottom: 50px;
}


